/* Footer.css */

.footer {
   
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center align the text */
    position: fixed; /* Fix the footer at the bottom of the page */
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-copyright {
    color: #555; /* Change the text color */
    font-size: 14px; /* Adjust the font size */
  }
  